#datatable-cars {
    tr {
        td {
            text-align: center !important;

            .btn-action {
                color: white;
            }
        }
    }
}

#datatable-cars_filter {
    input[type="search"] {
        height: auto !important;
    }
}
